[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/tdmtools/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/tdmtools/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/tdmtools/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/tdmtools/payments-ms.git
